/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
} */

/* h1 {
  text-align: center;
  padding: 10px;
  margin: 20px;
}
.card-title {
  font-size: 20px;
  text-align: center;
}
.card-text {
  font-size: 15px;
  text-align: center;
}
img {
  padding: 5px;
  height: auto;
  width: 200px;
} */

/* .ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
